* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

body {
  background: rgba(204, 204, 204, 0.5);
}

ul {
  margin: 0;
  padding: 0;
}
